.wether {
    margin-top: 51px;
}

.search {
    margin-top: 10px;
    font-size: 18px;
    padding: 11px;
    border: 1px solid black;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.city {
    border: 1px ridge black;
    border-top: none;
    border-collapse: collapse;
    font-size: 18px;
    margin: auto;
    width: 237px;
    text-align: left;
    padding-left: 4px;
}

.city:hover{
    background-color: #eee;
}